/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@font-face 
{
	src: url("css/simsun.ttc");
	fontFamily: 宋体;
	fontStyle: normal;
	fontWeight: normal;
	embedAsCFF: true;
	advancedAntiAliasing: true;
/*	src: url("css/arial.ttf");
	fontFamily: Arial;*/
}
s|Application{
	skin-class:ClassReference("skins.AppSkin");	
	font-family:宋体,Arial,"_sans";
	background-color:"#154365";
/*	font-weight:bold;*/
	tracking-right:1;
	color:#ffffff;
}
.appMenu{
	skin-class:ClassReference("skins.AppMenuSkin");	
	background-color:"#154365";
}
.appStyle{
	skin-class:ClassReference("skins.AppStyleSkin");	
}
s|BorderContainer{
	border-color:"#e0e0e0";
	border-alpha:0.6;
	background-alpha:0;
}
s|TabBar{
	color:"#ffffff";
	font-weight:bold;
	tracking-left:1;
	tracking-right:1;
}

s|TextInput{
	color:"#000000";
	content-background-alpha:"0.8";
	font-weight:bold;
	tracking-left:1;
}

s|Button{
	skin-class:ClassReference("skins.ButtonSkin");
	color:"#ffffff";
	font-weight:bold;
}
s|DropDownList{
	color:"#000000";
	font-weight:bold;
	content-background-alpha:"0.8";
	content-background-color:"#c8deec";
}
s|VScrollBar{
	skin-class:ClassReference("skins.VScrollBarSkin");
}
s|HScrollBar{
	skin-class:ClassReference("skins.HScrollBarSkin");
}
s|CheckBox{
	font-weight:bold;
}
mx|CheckBox{
	font-weight:bold;
}
mx|Text{
	font-weight:bold;
	letter-spacing:1;
}
mx|TextInput{
	color:"#000000";
	content-background-alpha:"0.8";
	font-weight:bold;
	letter-spacing:1;
}
mx|DateField{
	font-weight:bold;	
	color:"#000000";
}
mx|DateChooser{
	font-weight:bold;
}
mx|Alert{
	title-style-name:"alertTitle";
	message-style-name:"alertMsg";
	title-background-skin:ClassReference("skins.AlertTitleSkin");
	border-color:"#ffffff";
	border-alpha:0.6;
	button-style-name:"alertBtn";
	color:"#000000";
}
mx|TitleWindow{
	
}
mx|FormItem{
	color:"#ffffff";
}
mx|ComboBox{
	color:"#000000";
	content-background-alpha:"0.8";
	content-background-color:"#c8deec";
	font-weight:bold;
	dropdown-style-name:"comboboxStyle";
	textSelectedColor: "#000000";
	textRollOverColor: "#000000";
}
.comboboxStyle{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.alertTitle{
	background-color:"#97b6ca";
	background-alpha:"0.8";
	color:"#ffffff";
	font-size:13;
	font-weight:bold;
	border-color:"#ffffff";
}
.alertMsg{
	background-color:"#154365";
	background-alpha:"0.8";
	color:"#ffffff";
}
.alertBtn{
	corner-radius:8;
}
mx|ViewStack{
	border-color:"#e0e0e0";
	border-style:solid;
	border-alpha:0.6;
	background-color:"#154365";
	color:"#ffffff";
	font-weight:bold;
}
mx|DataGrid,mx|AdvancedDataGrid{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	/*header-separator-skin:ClassReference("skins.DataGridHeaderSepSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");*/
	header-colors:"#395f84","#395f84";
	border-color:"#97b6ca";
	vertical-grid-line-color:"#97b6ca";
	horizontal-grid-line-color:"#97b6ca";
	horizontal-grid-lines:"true";
	alternating-item-colors:"#1c6b99","#4989ad";
	selection-color:"#0e2f47";
	roll-over-color:"#148ac8";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	header-style-name:"advancedDG";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	content-background-alpha:0.8;
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	text-align:center;
}
mx|AdvancedDataGridHeaderRenderer{
	color:"#ffffff";
	font-weight:"bold";
}
.advancedDG{
	font-weight:"bold";
	color:"#ffffff";
}
.advancedDGHScrollBar{
	background-skin:ClassReference("skins.DataGridScrollBarBGSkin");
	thumb-skin:ClassReference("skins.DataGridScrollBarThumbSkin");
	up-arrow-skin:ClassReference("skins.DataGridScrollBarUpSkin");
	down-arrow-skin:ClassReference("skins.DataGridScrollBarDownSkin");
	track-skin:ClassReference("skins.DataGridScrollBarTrackSkin");
}
.advancedDGVScrollBar{
	background-skin:ClassReference("skins.DataGridScrollBarBGSkin");
	thumb-skin:ClassReference("skins.DataGridScrollBarThumbSkin");
	up-arrow-skin:ClassReference("skins.DataGridScrollBarUpSkin");
	down-arrow-skin:ClassReference("skins.DataGridScrollBarDownSkin");
	track-skin:ClassReference("skins.DataGridScrollBarTrackSkin");
}
mx|Accordion{
	content-background-alpha:0;
	header-height:24;
	open-duration:250;
	border-color:"#e0e0e0";
	border-alpha:0.6;
	color:"#ffffff";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	header-style-name:"accordionHeader";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader{
	skin:ClassReference("skins.AccordionHeaderBGSkin");
	font-weight:bold;
}
mx|Canvas{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
mx|Tree{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	selection-color:"#148ac8";
	roll-over-color:"#148ac8";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	color:"#ffffff";
	font-weight:bold;
}
mx|DividedBox{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
mx|Tile{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.commonBorderContainer{
	corner-radius:5;
}
.commonTabBar{
	skin-class:ClassReference("skins.GroupClientTabBarSkin");
	corner-radius:5;
}
.commonViewStack{
	padding-bottom:2;
	padding-left:2;
	padding-right:2;
	padding-top:2;
}
.commonDataGrid{
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");
}
.title_bold_12{
	font-size:12;
	font-weight:bold;
}
.title_bold_14{
	font-size:14;
	font-weight:bold;
}

.title_bold_16{
	font-size:16;
	font-weight:bold;
}

.venueImageNormal{
	border-weight:5;
}
.venueImageSelected{
	border-weight:5;
	border-color:"0xFF0000";
}
.closeBtn{
	skin-class:ClassReference("skins.CloseBtnSkin");
}

.navbar{
	skin-class:ClassReference("skins.NavBarSkin");
}
.window{
	skin-class:ClassReference("skins.WindowSkin");
	border-alpha:0.6;
	borderColor:"0xe0e0e0";
	backgroundColor:"0x003366";
	backgroundAlpha:0.8;
	color:"0xffffff";
}
.window_configBtn{
	skin-class:ClassReference("skins.ConfigButtonSkin");
}
.window_minimizeBtn{
	skin-class:ClassReference("skins.MinimizeButtonSkin");
}
.window_restoreBtn{
	skin-class:ClassReference("skins.RestoreButtonSkin");
}
.window_maximizeBtn{
	skin-class:ClassReference("skins.MaximizeButtonSkin");
}
.window_closeBtn{
	skin-class:ClassReference("skins.CloseButtonSkin");
}
.windowExt{
	skin-class:ClassReference("skins.WindowExtSkin");
	border-alpha:0.6;
	borderColor:"0xe0e0e0";
	backgroundColor:"0x003366";
	backgroundAlpha:0.8;
	color:"0xffffff";
}
.controlPane{
	backgroundColor : #FFFFFF;
	backgroundAlpha : 0.8;
	borderColor : #000000 ;
	borderStyle:"solid";
	cornerRadius:5;
	padding-bottom:5;
	padding-left:5;
	padding-right:5;
	padding-top:5;
	color:"#ffffff";
}
.fusionChartsLK{
	color:"###ffffff";
}
.FusionChartLogoBG{
	backgroundColor:"#003366";
	backgroundAlpha:1;
}
.panelStyle{
	backgroundColor:"#003366";
	color:"#ffffff";
	background-alpha:0.8;
}
.gridRowOdd{
	backgroundColor:"#1c6b99";
	border-color:"#97b6ca";
	color:"#ffffff";
}
.gridRowEven{
	backgroundColor:"#4989ad";
	border-color:"#97b6ca";
	color:"#ffffff";
}
.gridHeader{
	background-color:"#395f84";
	border-color:"#97b6ca";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
	text-align:center;
}
.gridSelected{
	background-color:"#0e2f47";
	border-color:"#97b6ca";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
}
.gridRollOver{
	background-color:"#148ac8";
	border-color:"#97b6ca";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
}

mx|ToolTip{
	font-size: 16;
	color:"#000000";
	border-color:"#4698ca";
	corner-radius:6;
}
.promptBC{
	background-color:"#003366";
	background-alpha:0.8;
	corner-radius:5;
	color:"#ffffff";
}
.bgstyle1{
	background-color:"#003366";
	background-alpha:0.8;
}
.roomName{
	color:"#ffffff";
}

.specItem{
	border-color:"#97b6ca";
	border-style:solid;
	background-color:"#395f84";
	horizontal-align:center;
	vertical-align:middle;
}
.specText{
	font-weight:bold;
	font-size:12;
}
.modelItem{
	border-color:"#97b6ca";
	border-style:solid;
	background-color:"#395F84";
	horizontal-align:center;
	vertical-align:middle;
}
.modelText{
	font-weight:bold;
	font-size:12;
}
.dataItem{
	horizontal-align:center;
	vertical-align:middle;
	border-style:solid;
	border-color:"#97b6ca";
}



.accordion1{
	content-background-alpha:0;
	header-height:24;
	open-duration:250;
	border-color:"#e0e0e0";
	border-alpha:0.6;
	borderVisible:false;
	color:"#ffffff";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	header-style-name:"accordionHeader1";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader1{
	skin:ClassReference("skins.AccordionHeaderBGSkinNew");
	font-weight:bold;
}

.accordion2{
	content-background-alpha:0;
	header-height:32;
	open-duration:250;
	borderVisible:false;
	border-color:"#e0e0e0";
	border-alpha:0.6;
	color:"#666666";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	header-style-name:"accordionHeader2";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader2{
	skin:ClassReference("skins.AccordionHeaderBGSkinNew1");
	font-weight:bold;
}

.content_title{
	skin-class:ClassReference("skins.ContentTitleBtnSkin");
}

.advancedDG1{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkinNew");
	/*header-colors:"#395f84","#395f84";*/
	headerHeight:24;
	border-color:"#7297a9";
	borderAlpha:0;
	horizontalAlign:center;
	horizontalGridLineAlpha:1;
	horizontal-grid-line-color:"#7297a9";
	horizontal-grid-lines:true;
	verticalGridLineColor:"#7297a9";
	verticalGridLineAlpha:0.01;
	vertical-grid-lines:false;
	/*alternating-item-colors:"#1c6b99","#4989ad";*/
	alternating-item-colors:ClassReference(null);
	color:"#ffffff";
	fontSize:11;
	font-weight:bold;
	letter-spacing:1;
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	content-background-alpha:0;
	contentBackgroundColor:"#345986";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	text-align:center;
	useRollOver:false;
}

.advancedDG2{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	/*header-separator-skin:ClassReference("skins.DataGridHeaderSepSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");*/
	header-colors:"#395f84","#395f84";
	border-color:"#97b6ca";
	vertical-grid-line-color:"#97b6ca";
	horizontal-grid-line-color:"#97b6ca";
	horizontal-grid-lines:"true";
	alternating-item-colors:"#1c6b99","#4989ad";
	selection-color:"#0e2f47";
	roll-over-color:"#148ac8";
	color:"#ffffff";
	fontSize:10;
	font-weight:normal;
	header-style-name:"advancedDGHeader2";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	content-background-alpha:0.8;
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	textAlign:left;
}

.advancedDGHeader2{
	color:"#ffffff";
}
.borderContainer1{
	borderColor:"#7297a9";
	backgroundColor:"#345986";
	backgroundAlpha:"0.6";
}

.skinnableContainer1{
	skin-class:ClassReference("skins.SkinnableContainerSkin");
}


s|CheckBox{
	font-weight:bold;
	color:"#ff0000";
}

s|CheckBox s|Label{
	color:"#00ff00";
}

