/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace chartClasses "mx.charts.chartClasses.*";
@namespace spark "spark.skins.spark.*";
.headerFilter{
	font-size: 13;
	color: "0xffffff";
	font-weight: bold;
	text-align:center;
	skin-class:ClassReference("com.linkage.module.cms.alarm.framework.view.resource.css.skins.DropDownListSkin");
}
.dataGroupRenderer{
	font-size:13;
	color:"0xffffff";
	font-weight:bold;
	borderColor:"0x949494";
}
.left{
	vertical-align: middle;
	horizontal-align: left;
}
.right{
	vertical-align: middle;
	horizontal-align: right;
}
