/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace view "com.linkage.module.topo.framework.view.*";
@namespace operation "com.linkage.module.topo.framework.view.component.toolbar.operation.*";
@namespace action "com.linkage.module.topo.framework.view.component.toolbar.action.*";
@namespace component "com.linkage.module.topo.framework.view.component.*";
@namespace toolbar "com.linkage.module.topo.framework.view.component.toolbar.*";
@namespace tree "com.linkage.module.topo.framework.view.component.tree.*";
@namespace navigation "com.linkage.module.topo.framework.view.component.navigation.*";
@namespace core "com.linkage.module.topo.framework.core.*";
@namespace spareparts "com.linkage.module.topo.framework.view.component.spareparts.*";
@namespace container "com.linkage.module.cms.topo.container.*";
@namespace tpcomponent "com.linkage.module.cms.topo.component.*";
@namespace scaleruler "com.linkage.module.topo.framework.view.component.scaleruler.*";
@namespace hawkeye "com.linkage.module.topo.framework.view.component.hawkeye.*";
/* ************* */
/* 拓扑是白色皮肤 */
/* ************* */

/* 拓扑面板容器: 画布中文字; 拓扑树文字; 标尺; */
view|TopoPanelContainer,tree|TopoTree,scaleruler|ScaleRuler{
	color: "0xffffff";
}
/* 鹰眼的边框 */
hawkeye|HawkEye{
	border-color: "0xffffff";
	border-alpha: 0.5;
}

.background{
	skinClass:  ClassReference("skins.background.TopoBGSkin"); 
}

/* 拓扑导航 */
navigation|Navigation{
	cornerRadius: 6;
}
.navigationBar{
	skinClass:  ClassReference("skins.navigation.NavigationButtonBarSkin");
}

/* 拓扑工具条容器 */
toolbar|TopoToolBar{
	cornerRadius: 6;
}
operation|GoBackOptIcon{
	skinClass:  ClassReference("skins.toolbar.GoBackSkin"); 
}
action|SelectActionIcon{
	skinClass:  ClassReference("skins.toolbar.SelectStatusSkin"); 
}
action|PanActionIcon{
	skinClass:  ClassReference("skins.toolbar.DrageSkin"); 
	/*cursorClass: Embed(source='assets/toolbar/拖动.png');*/
}
action|ZoomOutActionIcon{
	skinClass:  ClassReference("skins.toolbar.ZoomOutSkin"); 
	/*cursorClass: Embed(source='assets/toolbar/放大.png');*/
}
action|ZoomInActionIcon{
	skinClass:  ClassReference("skins.toolbar.ZoomInSkin"); 
	/*cursorClass: Embed(source='assets/toolbar/缩小.png');*/
}
operation|OneScreenViewOptIcon{
	skinClass:  ClassReference("skins.toolbar.OneScreenViewSkin"); 
}
operation|OriginalViewOptIcon{
	skinClass:  ClassReference("skins.toolbar.OriginalViewSkin"); 
}
operation|ExportImageOptIcon{
	skinClass:  ClassReference("skins.toolbar.ExportImageSkin"); 
}
operation|PrintOptIcon{
	skinClass:  ClassReference("skins.toolbar.PrintSkin"); 
}
operation|AttrToggleOptIcon{
	skinClass:  ClassReference("skins.toolbar.AttrToggleSkin"); 
}
operation|LegendToggleOptIcon{
	skinClass:  ClassReference("skins.toolbar.LegendToggleSkin"); 
}
operation|StatisticToggleOptIcon{
	skinClass:  ClassReference("skins.toolbar.StatisticToggleSkin");
}
operation|ScaleRulerToggleOptIcon{
	skinClass:  ClassReference("skins.toolbar.ScaleRulerToggleSkin");
}
action|EditActionIcon{
	skinClass:  ClassReference("skins.toolbar.EditStatusSkin"); 
}
operation|HawkEyeOptIcon{
	skinClass:  ClassReference("skins.toolbar.HawkEyeSkin"); 
}
/* 具体的一些编辑模式 */
action|MoveActionIcon{
	skinClass:  ClassReference("skins.toolbar.MoveStatusSkin"); 
}
operation|AutoLayoutOptIcon{
	skinClass:  ClassReference("skins.toolbar.AutoLayoutSkin"); 
}
action|CreateHLinkLayerActionIcon{
	skinClass:  ClassReference("skins.toolbar.CreateHLinkLayerSkin"); 
}
action|CreateShapeActionIcon{
	skinClass:  ClassReference("skins.toolbar.CreateShapeSkin"); 
}
action|CreateLinkActionIcon{
	skinClass:  ClassReference("skins.toolbar.CreateLinkSkin"); 
}
action|CreateLineActionIcon{
	skinClass:  ClassReference("skins.toolbar.CreateLineSkin"); 
}
operation|SaveTopoOptIcon{
	skinClass:  ClassReference("skins.toolbar.SaveTopoSkin"); 
}
operation|AlarmRendererConfigOptIcon{
	skinClass:  ClassReference("skins.toolbar.AlarmRendererConfigSkin"); 
}
/* 左边向左收起的分隔条 */
.leftGoLeftDivider{
	skinClass:  ClassReference("skins.divider.LeftGoLeftDividerSkin"); 
}
/* 左边向右展开的分隔条 */
.leftGoRightDivider{
	skinClass:  ClassReference("skins.divider.LeftGoRightDividerSkin"); 
}
/* 下面向下收起的分隔条 */
.bottomGoBottomDivider{
	skinClass:  ClassReference("skins.divider.BottomGoBottomDividerSkin"); 
}
/* 下面向上展开的分隔条 */
.bottomGoTopDivider{
	skinClass:  ClassReference("skins.divider.BottomGoTopDividerSkin"); 
}

/* 气泡提示 */
spareparts|BubbleText{
	background-alpha: 0.85;
	border-color: #666666;
	border-alpha: 0.7;
	border-width: 1;
	color: #ffffff;
	font-size: 12px;
}