/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
/*@namespace panel "com.linkage.module.cms.components.panel.*";*/
@namespace fusioncharts "com.linkage.common.fusioncharts.*";
/*@namespace tools "com.linkage.gis.tools.*";*/
/*@namespace navbar "com.linkage.module.cms.components.navbar.*";*/
@namespace map "com.linkage.module.cms.groupclient.map.*";
@namespace map1 "com.linkage.module.cms.general.monitor.common.map.*";
@namespace components "com.linkage.module.cms.groupclient.components.*";
/*@namespace extend "com.linkage.module.cms.components.extend.*";*/
@namespace components1 "com.linkage.module.cms.proactivemonitor.components.*";
/*@namespace button "com.linkage.module.cms.components.extend.button.*";*/
@namespace component "com.linkage.module.topo.framework.view.component.*";
/*@namespace core "com.linkage.module.topo.framework.core.*";*/
@namespace common "com.linkage.module.cms.perfmonitor.common.*";
@namespace datashow "com.linkage.module.cms.machroom.datashow.*";
/*@namespace pager "com.linkage.module.cms.components.pager.*";*/
/*@namespace scaleruler "com.linkage.module.topo.framework.view.component.scaleruler.*";*/
@namespace ailk_gis "http://www.asiainfo-linkage.com.cn/flex/gis";
@namespace ailk_compts "http://www.asiainfo-linkage.com.cn/flex/components";
@namespace ailk_chart "http://www.asiainfo-linkage.com.cn/flex/chart";
@namespace linkage_compts "http://www.ailk.com/2011/ailk/components";
@namespace linkage_gis "http://www.ailk.com/2011/ailk/gis";
/*@font-face 
{
	src: url("css/simsun.ttc");
	fontFamily: 宋体;
	fontStyle: normal;
	fontWeight: normal;
	embedAsCFF: true;
	advancedAntiAliasing: true;
}*/
global
{
	fontFamily:宋体,Arial,"_sans";
	font-weight:bold;
	tracking-right:1;
	color:#ffffff;
}

s|Application{
	skin-class:ClassReference("skins.AppSkin");	
}
mx|Module{
	fontFamily:宋体,Arial,"_sans";
	font-weight:bold;
	tracking-right:1;
	color:#ffffff;
}

.appMenu{
	skin-class:ClassReference("skins.AppMenuSkin");	
	background-color:"#5d5d5d";
}
.appStyle{
	skin-class:ClassReference("skins.AppStyleSkin");	
}
s|BorderContainer{
	border-color:"#999999";
	border-alpha:0.8;
	background-alpha:0;
}
s|TabBar{
	color:"#ffffff";
	font-weight:bold;
	tracking-left:1;
	tracking-right:1;
}
s|TextInput{
	color:"#000000";
	content-background-alpha:"0.8";
	font-weight:bold;
	tracking-left:1;
}
s|Button{
	skin-class:ClassReference("skins.ButtonSkin");
	color:"#ffffff";
}
s|DropDownList{
	color:"#000000";
	font-weight:bold;
	content-background-alpha:"0.8";
	content-background-color:"#c8deec";
}
s|VScrollBar{
	skin-class:ClassReference("skins.VScrollBarSkin");
}
s|HScrollBar{
	skin-class:ClassReference("skins.HScrollBarSkin");
}
s|CheckBox{
	font-weight:bold;
}
mx|CheckBox{
	font-weight:bold;
}
mx|Text{
	font-weight:bold;
	letter-spacing:1;
}
mx|TextInput{
	color:"#000000";
	content-background-alpha:"0.8";
	font-weight:bold;
	letter-spacing:1;
}
mx|DateField{
	font-weight:bold;	
	color:"#000000";
}
mx|DateChooser{
	font-weight:bold;
}
mx|Alert{
	title-style-name:"alertTitle";
	message-style-name:"alertMsg";
	title-background-skin:ClassReference("skins.AlertTitleSkin");
	border-color:"#ffffff";
	border-alpha:0.6;
	button-style-name:"alertBtn";
}
mx|TitleWindow{
	
}
mx|FormItem{
	color:"#ffffff";
}
mx|ComboBox{
	color:"#000000";
	content-background-alpha:"0.8";
	content-background-color:"#c8deec";
	font-weight:bold;
	dropdown-style-name:"comboboxStyle";
	textSelectedColor: #000000;
	textRollOverColor: #000000;
}
.comboboxStyle{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.alertTitle{
	background-color:"#555555";
	background-alpha:"0.8";
	color:"#ffffff";
	font-size:13;
	font-weight:bold;
	border-color:"#ffffff";
}
.alertMsg{
	background-color:"#333333";
	background-alpha:"0.8";
	color:"#ffffff";
}
.alertBtn{
	corner-radius:8;
}
mx|ViewStack{
	border-color:"#999999";
	border-style:solid;
	border-alpha:0.6;
	background-color:"#333333";
	color:"#ffffff";
	font-weight:bold;
}
mx|DataGrid,mx|AdvancedDataGrid{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	/*header-separator-skin:ClassReference("skins.DataGridHeaderSepSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");*/
	header-colors:"#555555","#555555";
	border-color:"#a9a9a9";
	vertical-grid-line-color:"#a9a9a9";
	horizontal-grid-line-color:"#a9a9a9";
	horizontal-grid-lines:"true";
	alternating-item-colors:"#939393","#747474";
	selection-color:"#333333";
	roll-over-color:"#2b4451";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	header-style-name:"advancedDG";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	content-background-alpha:0.8;
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	text-align:center;
}
mx|AdvancedDataGridHeaderRenderer{
	color:"#ffffff";
	font-weight:"bold";
}
.advancedDG{
	font-weight:"bold";
	color:"#ffffff";
}
.advancedDGHScrollBar{
	background-skin:ClassReference("skins.DataGridScrollBarBGSkin");
	thumb-skin:ClassReference("skins.DataGridScrollBarThumbSkin");
	up-arrow-skin:ClassReference("skins.DataGridScrollBarUpSkin");
	down-arrow-skin:ClassReference("skins.DataGridScrollBarDownSkin");
	track-skin:ClassReference("skins.DataGridScrollBarTrackSkin");
}
.advancedDGVScrollBar{
	background-skin:ClassReference("skins.DataGridScrollBarBGSkin");
	thumb-skin:ClassReference("skins.DataGridScrollBarThumbSkin");
	up-arrow-skin:ClassReference("skins.DataGridScrollBarUpSkin");
	down-arrow-skin:ClassReference("skins.DataGridScrollBarDownSkin");
	track-skin:ClassReference("skins.DataGridScrollBarTrackSkin");
}
mx|Accordion{
	content-background-alpha:0;
	header-height:24;
	open-duration:250;
	border-color:"#999999";
	border-alpha:0.6;
	color:"#ffffff";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	header-style-name:"accordionHeader";
}
.accordionHeader{
	skin:ClassReference("skins.AccordionHeaderBGSkin");
	font-weight:bold;
}
mx|Canvas{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
mx|Tree{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	selection-color:"#2b4451";
	roll-over-color:"#2b4451";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	color:"#ffffff";
	font-weight:bold;
}
mx|DividedBox{	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";	vertical-scroll-bar-style-name:"advancedDGVScrollBar";}
mx|Tile{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.commonBorderContainer{
	corner-radius:5;
}
.commonTabBar{
	skin-class:ClassReference("skins.GroupClientTabBarSkin");
	corner-radius:5;
}
.commonViewStack{
	padding-bottom:2;
	padding-left:2;
	padding-right:2;
	padding-top:2;
}
.commonDataGrid{
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");
}
.title_bold_12{
	font-size:12;
	font-weight:bold;
}
.title_bold_14{
	font-size:14;
	font-weight:bold;
}

.title_bold_16{
	font-size:16;
	font-weight:bold;
}

.venueImageNormal{
	border-weight:5;
}
.venueImageSelected{
	border-weight:5;
	border-color:"0xFF0000";
}
.closeBtn{
	skin-class:ClassReference("skins.CloseBtnSkin");
}

.navbar{
	skin-class:ClassReference("skins.NavBarSkin");
}
.window{
	skin-class:ClassReference("skins.WindowSkin");
	border-alpha:0.6;
	borderColor:"0x999999";
	backgroundColor:"0x333333";
	backgroundAlpha:0.8;
	color:"0xffffff";
}
.window_configBtn{
	skin-class:ClassReference("skins.ConfigButtonSkin");
}
.window_minimizeBtn{
	skin-class:ClassReference("skins.MinimizeButtonSkin");
}
.window_restoreBtn{
	skin-class:ClassReference("skins.RestoreButtonSkin");
}
.window_maximizeBtn{
	skin-class:ClassReference("skins.MaximizeButtonSkin");
}
.window_closeBtn{
	skin-class:ClassReference("skins.CloseButtonSkin");
}
.windowExt{
	skin-class:ClassReference("skins.WindowExtSkin");
	border-alpha:0.6;
	borderColor:"0x999999";
	backgroundColor:"0x333333";
	backgroundAlpha:0.8;
	color:"0xffffff";
}
linkage_compts|NormalWindowExt{
	skin-class:ClassReference("skins.NormalWindowExtSkin");
	border-alpha:0.6;
	borderColor:"0x999999";
	backgroundColor:"0x333333";
	backgroundAlpha:0.8;
	color:"0xffffff";
}
.controlPane{
	backgroundColor : #333333;
	backgroundAlpha : 0.8;
	borderColor : #999999 ;
	borderStyle:"solid";
	cornerRadius:5;
	padding-bottom:5;
	padding-left:5;
	padding-right:5;
	padding-top:5;
	color:"#ffffff";
}
fusioncharts|FusionChartsLK{
	backgroundColor:"#333333";
	backgroundAlpha:1;
	color:"#ffffff";
	font-weight:bold;
}
.fusionChartsLK{
	color:"###ffffff";
}
.FusionChartLogoBG{
	backgroundColor:"#333333";
	backgroundAlpha:1;
}
.panelStyle{
	backgroundColor:"#333333";
	color:"#ffffff";
	background-alpha:0.8;
}
.gridRowOdd{
	backgroundColor:"#939393";
	border-color:"#a9a9a9";
	color:"#ffffff";
}
.gridRowEven{
	backgroundColor:"#747474";
	border-color:"#a9a9a9";
	color:"#ffffff";
}
.gridHeader{
	background-color:"#555555";
	border-color:"#a9a9a9";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
	text-align:center;
}
.gridSelected{
	background-color:"#333333";
	border-color:"#a9a9a9";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
}
.gridRollOver{
	background-color:"#747474";
	border-color:"#a9a9a9";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
}

map|MapLabel{
	font-weight:bold;
	color:"#ffffff";
}
map1|MapLabel{
	font-weight:bold;
	color:"#ffffff";
}
components|DummyMapWork{
	color:"#ffffff";
}
components|DummyMapWork_GD{
	color:"#ffffff";
}
components|DummyMapWork_SX{
	color:"#ffffff";
}
components|GisMapWork{
	color:"#ffffff";
}

mx|ToolTip{
	font-size: 16;
	color:"#000000";
	border-color:"#4698ca";
	corner-radius:6;
}
linkage_compts|ExtendButton{
	skin-class:ClassReference("skins.ExtendButtonSkin");
}
.promptBC{
	background-color:"#333333";
	background-alpha:0.8;
	corner-radius:5;
	color:"#ffffff";
}
.bgstyle1{
	background-color:"#333333";
	background-alpha:0.8;
}
.roomName{
	color:"#ffffff";
}
.specItem{
	border-color:"#a9a9a9";
	border-style:solid;
	background-color:"#555555";
	horizontal-align:center;
	vertical-align:middle;
}
.specText{
	font-weight:bold;
	font-size:12;
}
.modelItem{
	border-color:"#a9a9a9";
	border-style:solid;
	background-color:"#555555";
	horizontal-align:center;
	vertical-align:middle;
}
.modelText{
	font-weight:bold;
	font-size:12;
}
.dataItem{
	horizontal-align:center;
	vertical-align:middle;
	border-style:solid;
	border-color:"#a9a9a9";
}
linkage_compts|NavBar{
	color:"#ffffff";
	font-weight:bold;
}
common|CheckBoxItemRenderer{
	color:"#000000";
	font-weight:bold;
	textSelectedColor: #000000;
	textRollOverColor: #000000;
}
component|TopoCanvas{
	color:"#ffffff";
	letter-spacing:1;
}
.treeLabel{
	color:"#ffffff";
	font-weight:bold;
}
linkage_compts|Pager{
	color:"#ffffff";
}
linkage_gis|ToolBar{
	skin-class:ClassReference("com.linkage.gis.tools.skins.white.skin.ToolBarSkin");
	backgroundColor:"#333333";
	color:"#ffffff";
	background-alpha:0.8;
	border-color:"#e0e0e0";
	border-alpha:0.6;
}



.window1{
	skin-class:ClassReference("skins.WindowSkinNew");
}


.window2{
	skin-class:ClassReference("skins.WindowSkinNew1");
}

.window3{
	skin-class:ClassReference("skins.WindowSkinNew2");
}
.window4{
	skin-class:ClassReference("skins.WindowSkinNew3");
}


.window_closeBtnNew{
	skin-class:ClassReference("skins.CloseButtonNewSkin");
}

.window_configBtnNew{
	skin-class:ClassReference("skins.ConfigButtonNewSkin");
}

.window_minimizeBtnNew{
	skin-class:ClassReference("skins.MinimizeButtonNewSkin");
}

.window_restoreBtnNew{
	skin-class:ClassReference("skins.RestoreButtonNewSkin");
}

.window_maximizeBtnNew{
	skin-class:ClassReference("skins.MaximizeButtonNewSkin");
}


.accordion1{
	content-background-alpha:0;
	header-height:24;
	open-duration:250;
	border-color:"#e0e0e0";
	border-alpha:0.6;
	borderVisible:false;
	color:"#ffffff";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	header-style-name:"accordionHeader1";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader1{
	skin:ClassReference("skins.AccordionHeaderBGSkinNew");
	font-weight:bold;
}

.accordion2{
	content-background-alpha:0;
	header-height:32;
	open-duration:250;
	borderVisible:false;
	border-color:"#e0e0e0";
	border-alpha:0.6;
	color:"#666666";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	header-style-name:"accordionHeader2";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader2{
	skin:ClassReference("skins.AccordionHeaderBGSkinNew1");
	font-weight:bold;
}

.content_title{
	skin-class:ClassReference("skins.ContentTitleBtnSkin");
}

ailk_gis|ToolBar{
	skin-class:ClassReference("com.ailk.common.ui.gis.tools.skins.white.skin.ToolBarSkin");
	backgroundColor:"#333333";
	color:"#ffffff";
	background-alpha:0.8;
	border-color:"#e0e0e0";
	border-alpha:0.6;
}

.advancedDG1{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkinNew");
	/*header-colors:"#395f84","#395f84";*/
	headerHeight:24;
	backgroundAlpha: 0;
	backgroundColor:"#ffffff";
	border-color:"#8d8d8d";
	borderAlpha:0;
	horizontalAlign:center;
	horizontalGridLineAlpha:1;
	horizontal-grid-line-color:"#8d8d8d";
	horizontal-grid-lines:true;
	verticalGridLineColor:"#7297a9";
	verticalGridLineAlpha:0.01;
	vertical-grid-lines:false;
	/*alternating-item-colors:"#1c6b99","#4989ad";*/
	alternating-item-colors:"","";
	selection-color:"#345986";
	roll-over-color:"#345986";
	color:"#ffffff";
	fontSize:11;
	font-weight:bold;
	letter-spacing:1;
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	content-background-alpha:0;
	contentBackgroundColor:"#345986";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	text-align:center;
}

.advancedDG2{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	/*header-separator-skin:ClassReference("skins.DataGridHeaderSepSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");*/
	header-colors:"#555555","#555555";
	border-color:"#a9a9a9";
	vertical-grid-line-color:"#a9a9a9";
	horizontal-grid-line-color:"#a9a9a9";
	horizontal-grid-lines:"true";
	alternating-item-colors:"#939393","#747474";
	selection-color:"#333333";
	roll-over-color:"#2b4451";
	color:"#ffffff";
	font-size:10;
	font-weight:normal;
	header-style-name:"advancedDGHeader2";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	content-background-alpha:0.8;
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	textAlign:left;
}
.advancedDGHeader2{
	color:"#ffffff";
}

.borderContainer1{
	borderColor:"#8d8d8d";
	backgroundColor:"#959595";
	backgroundAlpha:"0.6";
}

.skinnableContainer1{
	skin-class:ClassReference("skins.SkinnableContainerSkin");
}

ailk_compts|NavBar{
	skin-class:ClassReference("skins.NavBarSkinNew");
}
.navBar1{
	skin-class:ClassReference("skins.NavBarSkinNew1");
}