/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
/*@namespace panel "com.linkage.module.cms.components.panel.*";*/
@namespace fusioncharts "com.linkage.common.fusioncharts.*";
@namespace tools "com.linkage.gis.tools.*";
/*@namespace navbar "com.linkage.module.cms.components.navbar.*";*/
@namespace map "com.linkage.module.cms.groupclient.map.*";
@namespace map1 "com.linkage.module.cms.general.monitor.common.map.*";
@namespace components "com.linkage.module.cms.groupclient.components.*";
/*@namespace extend "com.linkage.module.cms.components.extend.*";*/
@namespace components1 "com.linkage.module.cms.proactivemonitor.components.*";
@namespace button "com.linkage.module.cms.components.extend.button.*";
@namespace component "com.linkage.module.topo.framework.view.component.*";
@namespace core "com.linkage.module.topo.framework.core.*";
@namespace common "com.linkage.module.cms.perfmonitor.common.*";
@namespace datashow "com.linkage.module.cms.machroom.datashow.*";
/*@namespace pager "com.linkage.module.cms.components.pager.*";*/
@namespace ailk_gis "http://www.asiainfo-linkage.com.cn/flex/gis";
@namespace ailk_compts "http://www.asiainfo-linkage.com.cn/flex/components";
@namespace ailk_chart "http://www.asiainfo-linkage.com.cn/flex/chart";
@namespace ns "http://www.ailk.com/2011/ailk/components";
@namespace chartClasses "mx.charts.chartClasses.*";
/*@font-face 
{
	src: url("css/simsun.ttc");
	fontFamily: 宋体;
	fontStyle: normal;
	fontWeight: normal;
	embedAsCFF: true;
	advancedAntiAliasing: true;
}*/
global
{
	fontFamily:微软雅黑,Arial,"_sans";
	font-weight:bold;
	tracking-right:1;
	color:#4c4c4c;
}

s|Application{
	skin-class:ClassReference("skins.AppSkin");	
}
mx|Module{
	fontFamily:微软雅黑,Arial,"_sans";
	font-weight:bold;
	tracking-right:1;
	color:#4c4c4c;
}

.appMenu{
	skin-class:ClassReference("skins.AppMenuSkin");	
	background-color:"#ffd448";
}
.appStyle{
	skin-class:ClassReference("skins.AppStyleSkin");	
}
s|BorderContainer{
	border-color:"#acadb1";
	border-alpha:0.6;
	background-alpha:0;
}
s|TabBar{
	color:"#000000";
	font-weight:bold;
	tracking-left:1;
	tracking-right:1;
	fontSize:15;
}

s|TextInput{
	color:"#343233";
	content-background-alpha:"0.8";
	font-weight:bold;
	tracking-left:1;
}

s|Button{
	skin-class:ClassReference("skins.ButtonSkin");
	color:"#FFFFFF";
	fontWeight:normal;
}

s|ToggleButton{
    skin-class:ClassReference("skins.ToggleButtonSkin");
    color:"#af2a07";
    font-weight:bold;
}

s|DropDownList{
	color:"#141213";
	font-weight:bold;
	content-background-alpha:"0.8";
	content-background-color:"#FFFFFF";
}
s|VScrollBar{
	skin-class:ClassReference("skins.VScrollBarSkin");
}
s|HScrollBar{
	skin-class:ClassReference("skins.HScrollBarSkin");
}
s|CheckBox{
	color:"#000000";
	font-weight:bold;
}
mx|CheckBox{
	color:"#000000";
	font-weight:bold;
}
mx|Text{
	font-weight:bold;
	letter-spacing:1;
}
mx|TextInput{
	color:"#343233";
	content-background-alpha:"0.8";
	font-weight:bold;
	letter-spacing:1;
}
mx|DateField{
	font-weight:bold;	
	color:"#343233";
}
mx|DateChooser{
	font-weight:bold;
}
mx|Alert{
	title-style-name:"alertTitle";
	message-style-name:"alertMsg";
	title-background-skin:ClassReference("skins.AlertTitleSkin");
	border-color:"#acadb1";
	border-alpha:0.6;
	button-style-name:"alertBtn";
	color:"#000000";
}
mx|TitleWindow{
	
}
mx|Grid{
	color:"#000000";
}
mx|FormItem{
	color:"#000000";
}
mx|ComboBox{
	color:"#141213";
	content-background-alpha:"0.8";
	content-background-color:"#FFFFFF";
	font-weight:bold;
	dropdown-style-name:"comboboxStyle";
	textSelectedColor: "#141213";
	textRollOverColor: "#141213";
	rollOverColor:"#e63838";
	selectionColor:"#e63838";
}
.comboboxStyle{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.alertTitle{
	background-color:"#f4f4f4";
	background-alpha:"0.8";
	color:"#525252";
	font-size:13;
	font-weight:bold;
	border-color:"#acadb1";
}
.alertMsg{
	background-color:"#f4f4f4";
	background-alpha:"0.8";
	color:"#525252";
}
.alertBtn{
	corner-radius:8;
}
mx|ViewStack{
	border-color:"#acadb1";
	border-style:solid;
	border-alpha:0.6;
	background-color:"#f4f4f4";
	color:"#525252";
	font-weight:bold;
}
mx|DataGrid,mx|AdvancedDataGrid{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	/*header-separator-skin:ClassReference("skins.DataGridHeaderSepSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");*/
	header-colors:"#ffffff","#f5f4f4";
	border-color:"#acadb1";
	vertical-grid-line-color:"#acadb1";
	horizontal-grid-line-color:"#acadb1";
	horizontal-grid-lines:"true";
	alternating-item-colors:"#ffffff","#f6f6f6";
	selection-color:"#e63838";
	roll-over-color:"#e63838";
	color:"#343434";
	font-weight:bold;
	letter-spacing:1;
	header-style-name:"advancedDG";
	text-roll-over-color:"#343434";
	text-selected-color:"#343434";
	content-background-alpha:0.8;
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	text-align:center;
}
mx|AdvancedDataGridHeaderRenderer{
	color:"#343434";
	font-weight:"bold";
}
.advancedDG{
	font-weight:"bold";
	color:"#343434";
}
.advancedDGHScrollBar{
	background-skin:ClassReference("skins.DataGridScrollBarBGSkin");
	thumb-skin:ClassReference("skins.DataGridScrollBarThumbSkin");
	up-arrow-skin:ClassReference("skins.DataGridScrollBarUpSkin");
	down-arrow-skin:ClassReference("skins.DataGridScrollBarDownSkin");
	track-skin:ClassReference("skins.DataGridScrollBarTrackSkin");
}
.advancedDGVScrollBar{
	background-skin:ClassReference("skins.DataGridScrollBarBGSkin");
	thumb-skin:ClassReference("skins.DataGridScrollBarThumbSkin");
	up-arrow-skin:ClassReference("skins.DataGridScrollBarUpSkin");
	down-arrow-skin:ClassReference("skins.DataGridScrollBarDownSkin");
	track-skin:ClassReference("skins.DataGridScrollBarTrackSkin");
}
mx|Accordion{
	content-background-alpha:0;
	header-height:24;
	open-duration:250;
	border-color:"#acadb1";
	border-alpha:0.6;
	color:"#555555";
	text-roll-over-color:"#555555";
	text-selected-color:"#555555";
	header-style-name:"accordionHeader";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader{
	skin:ClassReference("skins.AccordionHeaderBGSkin");
	font-weight:bold;
}
mx|Canvas{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
mx|Tree{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	selection-color:"#e63838";
	roll-over-color:"#e63838";
	text-roll-over-color:"#141213";
	text-selected-color:"#141213";
	color:"#141213";
	font-weight:bold;
}
mx|DividedBox{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
mx|Tile{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.commonBorderContainer{
	corner-radius:5;
}
.commonTabBar{
	skin-class:ClassReference("skins.GroupClientTabBarSkin");
	corner-radius:0;
}
.commonViewStack{
	padding-bottom:2;
	padding-left:2;
	padding-right:2;
	padding-top:2;
}
.commonDataGrid{
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");
}
.title_bold_12{
	font-size:12;
	font-weight:bold;
}
.title_bold_14{
	font-size:14;
	font-weight:bold;
}

.title_bold_16{
	font-size:16;
	font-weight:bold;
}

.venueImageNormal{
	border-weight:5;
}
.venueImageSelected{
	border-weight:5;
	border-color:"0xFF0000";
}
.closeBtn{
	skin-class:ClassReference("skins.CloseBtnSkin");
}

.navbar{
	skin-class:ClassReference("skins.NavBarSkin");
}
.window{
	skin-class:ClassReference("skins.WindowSkin");
	border-alpha:0.6;
	borderColor:"0xacadb1";
	backgroundColor:"0xf4f4f4";
	backgroundAlpha:0.8;
	color:"0x000000";
}
.window_configBtn{
	skin-class:ClassReference("skins.ConfigButtonSkin");
}
.window_minimizeBtn{
	skin-class:ClassReference("skins.MinimizeButtonSkin");
}
.window_restoreBtn{
	skin-class:ClassReference("skins.RestoreButtonSkin");
}
.window_maximizeBtn{
	skin-class:ClassReference("skins.MaximizeButtonSkin");
}
.window_closeBtn{
	skin-class:ClassReference("skins.CloseButtonSkin");
}
.windowExt{
	skin-class:ClassReference("skins.WindowExtSkin");
	border-alpha:0.6;
	borderColor:"0xacadb1";
	backgroundColor:"0xf4f4f4";
	backgroundAlpha:0.8;
	color:"#525252";
}
ns|NormalWindowExt{
	skin-class:ClassReference("skins.NormalWindowExtSkin");
	border-alpha:0.6;
	borderColor:"0xacadb1";
	backgroundColor:"0xf4f4f4";
	backgroundAlpha:0.8;
	color:"#525252";
}
.controlPane{
	backgroundColor : "#f4f4f4";
	backgroundAlpha : 0.8;
	borderColor : "#acadb1" ;
	borderStyle:"solid";
	cornerRadius:5;
	padding-bottom:5;
	padding-left:5;
	padding-right:5;
	padding-top:5;
	color:"#000000";
}
fusioncharts|FusionChartsLK{
	backgroundColor:"#f4f4f4";
	backgroundAlpha:1;
	color:"#000000";
	font-weight:bold;
}
.fusionChartsLK{
	color:"#000000";
}
.FusionChartLogoBG{
	backgroundColor:"#f4f4f4";
	backgroundAlpha:1;
}
.panelStyle{
	backgroundColor:"#f4f4f4";
	color:"#000000";
	background-alpha:0.8;
}
.gridRowOdd{
	backgroundColor:"#dcdcdc";
	border-color:"#FAEE83";
	color:"#000000";
}
.gridRowEven{
	backgroundColor:"#f7f7f7";
	border-color:"#acadb1";
	color:"#000000";
}
.gridHeader{
	background-color:"#ad7636";
	border-color:"#acadb1";
	color:"#525252";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
	text-align:center;
}
.gridSelected{
	background-color:"#96d4d1";
	border-color:"#acadb1";
	color:"#000000";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
}
.gridRollOver{
	background-color:"#96d4d1";
	border-color:"#acadb1";
	color:"#000000";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
}

ns|MapLabel{
	font-weight:bold;
	color:"#000000";
}
map|MapLabel{
	font-weight:bold;
	color:"#000000";
}
map1|MapLabel{
	font-weight:bold;
	color:"#000000";
}
components|DummyMapWork{
	color:"#000000";
}
components|DummyMapWork_GD{
	color:"#000000";
}
components|DummyMapWork_SX{
	color:"#000000";
}
components|GisMapWork{
	color:"#000000";
}

mx|ToolTip{
	font-size: 16;
	color:"#000000";
	border-color:"#acadb1";
	corner-radius:6;
}
button|ExtendButton{
	skin-class:ClassReference("skins.ExtendButtonSkin");
}
.promptBC{
	background-color:"#f4f4f4";
	background-alpha:0.8;
	corner-radius:5;
	color:"#000000";
}
.bgstyle1{
	background-color:"#f4f4f4";
	background-alpha:0.8;
}
.roomName{
	color:"#000000";
}

.specItem{
	border-color:"#acadb1";
	border-style:solid;
	background-color:"#FBE83C";
	horizontal-align:center;
	vertical-align:middle;
}
.specText{
	font-weight:bold;
	font-size:12;
}
.modelItem{
	border-color:"#acadb1";
	border-style:solid;
	background-color:"#FBE83C";
	horizontal-align:center;
	vertical-align:middle;
}
.modelText{
	font-weight:bold;
	font-size:12;
}
.dataItem{
	horizontal-align:center;
	vertical-align:middle;
	border-style:solid;
	border-color:"#acadb1";
}
ns|NavBar{
	color:"#000000";
	font-weight:bold;
}
common|CheckBoxItemRenderer{
	color:"#000000";
	font-weight:bold;
	textSelectedColor: "#000000";
	textRollOverColor: "#000000";
}
component|TopoCanvas{
	color:"#000000";
	letter-spacing:1;
}
.treeLabel{
	color:"#000000";
	font-weight:bold;
}
ns|Pager{
	color:"#000000";
}

tools|ToolBar{
	skin-class:ClassReference("com.linkage.gis.tools.skins.black.skin.ToolBarSkin");
	backgroundColor:"#ffffff";
	color:"#000000";
	background-alpha:0.8;
	border-color:"#acadb1";
	border-alpha:0.6;
}

.window1{
	skin-class:ClassReference("skins.WindowSkinNew");
}


.window2{
	skin-class:ClassReference("skins.WindowSkinNew1");
}

.window3{
	skin-class:ClassReference("skins.WindowSkinNew2");
}
.window4{
	skin-class:ClassReference("skins.WindowSkinNew3");
}


.window_closeBtnNew{
	skin-class:ClassReference("skins.CloseButtonNewSkin");
}

.window_configBtnNew{
	skin-class:ClassReference("skins.ConfigButtonNewSkin");
}

.window_minimizeBtnNew{
	skin-class:ClassReference("skins.MinimizeButtonNewSkin");
}

.window_restoreBtnNew{
	skin-class:ClassReference("skins.RestoreButtonNewSkin");
}

.window_maximizeBtnNew{
	skin-class:ClassReference("skins.MaximizeButtonNewSkin");
}


.accordion1{
	content-background-alpha:0;
	header-height:24;
	open-duration:250;
	border-color:"#acadb1";
	border-alpha:0.6;
	borderVisible:false;
	color:"#000000";
	text-roll-over-color:"#000000";
	text-selected-color:"#000000";
	header-style-name:"accordionHeader1";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader1{
	skin:ClassReference("skins.AccordionHeaderBGSkinNew");
	font-weight:bold;
}

.accordion2{
	content-background-alpha:0;
	header-height:32;
	open-duration:250;
	borderVisible:false;
	border-color:"#acadb1";
	border-alpha:0.6;
	color:"#666666";
	text-roll-over-color:"#000000";
	text-selected-color:"#000000";
	header-style-name:"accordionHeader2";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader2{
	skin:ClassReference("skins.AccordionHeaderBGSkinNew1");
	font-weight:bold;
}

.content_title{
	skin-class:ClassReference("skins.ContentTitleBtnSkin");
}
ailk_gis|MapWork{
	toolBarBackgroundColor:#ffffff;
	toolBarBackgroundAlpha:0.8;
	toolBarBorderColor:#acadb1;
	toolBarBorderAlpha:0.6;
	toolBarSkin:ClassReference("com.ailk.common.ui.gis.tools.skins.black.skin.ToolBarSkin");
}
ailk_gis|ToolBar{
	skin-class:ClassReference("com.ailk.common.ui.gis.tools.skins.black.skin.ToolBarSkin");
	backgroundColor:"#ffd448";
	color:"#000000";
	background-alpha:0.8;
	border-color:"#acadb1";
	border-alpha:0.6;
}

.advancedDG1{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkinNew");
	/*header-colors:"#395f84","#395f84";*/
	headerHeight:24;
	border-color:"#acadb1";
	borderAlpha:0;
	horizontalAlign:center;
	horizontalGridLineAlpha:1;
	horizontal-grid-line-color:"#acadb1";
	horizontal-grid-lines:true;
	verticalGridLineColor:"#acadb1";
	verticalGridLineAlpha:0.01;
	vertical-grid-lines:false;
	/*alternating-item-colors:"#1c6b99","#4989ad";*/
	alternating-item-colors:ClassReference(null);
	color:"#000000";
	fontSize:11;
	font-weight:bold;
	letter-spacing:1;
	text-roll-over-color:"#000000";
	text-selected-color:"#000000";
	content-background-alpha:0;
	contentBackgroundColor:"#FF915B";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	text-align:center;
	useRollOver:false;
}

.advancedDG2{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	/*header-separator-skin:ClassReference("skins.DataGridHeaderSepSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");*/
	header-colors:"#ad7636","#ad7636";
	border-color:"#acadb1";
	vertical-grid-line-color:"#000000";
	horizontal-grid-line-color:"#000000";
	horizontal-grid-lines:"true";
	alternating-item-colors:"#dcdcdc","#f7f7f7";
	selection-color:"#96d4d1";
	roll-over-color:"#96d4d1";
	color:"#000000";
	fontSize:10;
	font-weight:normal;
	header-style-name:"advancedDGHeader2";
	text-roll-over-color:"#000000";
	text-selected-color:"#000000";
	content-background-alpha:0.8;
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	textAlign:left;
}

.advancedDGHeader2{
	color:"#525252";
}
.borderContainer1{
	borderColor:"#acadb1";
	backgroundColor:"#f4f4f4";
	backgroundAlpha:"0.8";
}

.skinnableContainer1{
	skin-class:ClassReference("skins.SkinnableContainerSkin");
}

ailk_compts|NavBar{
	skin-class:ClassReference("skins.NavBarSkinNew");
}
.navBar1{
	skin-class:ClassReference("skins.NavBarSkinNew1");
}

/*s|CheckBox{
	font-weight:bold;
	color:"#ff0000";
}*/

/*s|CheckBox s|Label{
	color:"#00ff00";
}*/
/* 日常管理面板样式  -------------------------------------------------- */
.windowDaily{
	skin-class:ClassReference("skins.WindowSkinDaily");
}

.windowDaily2{
	skin-class:ClassReference("skins.WindowSkinDaily2");
}

.windowDaily3{
	skin-class:ClassReference("skins.WindowSkinDaily3");
}

.borderContainerDaily1
{
	skinClass:ClassReference("skins.BorderContainerDaily1")
}

.borderContainerDaily2
{
	skinClass:ClassReference("skins.BorderContainerDaily2")
}

.borderContainerDaily2on
{
	skinClass:ClassReference("skins.BorderContainerDaily2on")
}

.borderContainerDaily3
{
	skinClass:ClassReference("skins.BorderContainerDaily3")
}

.borderContainerCfg
{
	backgroundColor:"#FF915B";
	backgroundAlpha:"0.6";
	borderColor:"#acadb1";
}

.dropDownList
{
	fontFamily:"微软雅黑";
	skinClass:ClassReference("skins.DropDownListSkin")
}

.button
{
	skinClass:ClassReference("skins.ButtonSkinDaily")
}

.label
{
	color:"#000000";
	fontFamily:"微软雅黑";
}
s|BorderContainer s|RadioButton
{
	color:"#000000";
	fontFamily:"微软雅黑";
}

mx|RadioButton, s|RadioButton
{
	color:"#0000000";
}


/* 日常管理面板样式 ################################################### */



/* 定制场景样式 ###################################################*/
.windowScene{
	skin-class:ClassReference("skins.scene.WindowSkinScene");
}

.windowSceneGis{
	skin-class:ClassReference("skins.scene.WindowSkinSceneGis");
}

.windowSceneGisBottom{
	skin-class:ClassReference("skins.scene.WindowSkinSceneGisBottom");
}
.sceneBorderContainer{
	skin-class:ClassReference("skins.scene.SceneBorderContainerSkin");
}
.sceneIntroduceBody{
	skin-class:ClassReference("skins.scene.SceneIntroduceBodySkin");
}
.sceneNewsMainBg{
	backgroundColor:"#eeeeee";
}
.sceneNewsBg{
	skin-class:ClassReference("skins.scene.SceneNewsBgSkin");
}
.sceneNewsLable1{
	color:"#004b85";
	fontSize:15;
}
.sceneNewsLable2{
	color:"#545454";
	fontWeight:normal;
	background-color:"#fdfdfd";
}
.sceneNewsLable3{
	color:"#545454";
}
.sceneDG{
	background-color:"#fdfdfd";
}
.sceneNewsLable4{
	color:"#e63838";
}
.sceneNewsLable5{
	color:"#cccccc";
	fontWeight:normal;
}
.sceneViewStack{
	border-color:"#acadb1";
	border-style:solid;
	border-alpha:0;
	background-color:"#ffd448";
	backgroundAlpha:0;
	color:"#000000";
	font-weight:bold;
}
.sceneTabBar{
	skin-class:ClassReference("skins.scene.SceneTabBarSkin");
}
.sceneTabBar1{
	skin-class:ClassReference("skins.scene.SceneTabBarNewSkin");
}


.sceneDG{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	/*header-separator-skin:ClassReference("skins.DataGridHeaderSepSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");*/
	header-colors:"#ffffff","#f5f4f4";
	border-color:"#acadb1";
	/*vertical-grid-line-color:"#acadb1";
	horizontal-grid-line-color:"#acadb1";*/
	vertical-grid-lines:false;
	horizontal-grid-lines:false;	
	alternating-item-colors:"#ffffff","#f5f5f5";
	selection-color:"#e63838";
	roll-over-color:"#e63838";
	color:"#343434";
	font-weight:bold;
	letter-spacing:1;
	header-style-name:"advancedDG";
	text-roll-over-color:"#343434";
	text-selected-color:"#343434";
	content-background-alpha:0.8;
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	text-align:center;
}
.sceneMXHScrollBar{
	background-skin:ClassReference("skins.scene.MXScrollBarBGSkin");
	thumb-skin:ClassReference("skins.scene.MXScrollBarThumbSkin");
	up-arrow-skin:ClassReference(null);
	down-arrow-skin:ClassReference(null);
	track-skin:ClassReference("skins.scene.MXScrollBarTrackSkin");
}
.sceneMXVScrollBar{
	background-skin:ClassReference("skins.scene.MXScrollBarBGSkin");
	thumb-skin:ClassReference("skins.scene.MXScrollBarThumbSkin");
	up-arrow-skin:ClassReference(null);
	down-arrow-skin:ClassReference(null);
	track-skin:ClassReference("skins.scene.MXScrollBarTrackSkin");
}

.sceneScroller{
	skinClass:ClassReference("skins.scene.SceneScrollerSkin");
}

.sceneVScrollBar{
	skin-class:ClassReference("skins.scene.VScrollBarSkin");
}
.sceneHScrollBar{
	skin-class:ClassReference("skins.scene.HScrollBarSkin");
}
.sceneKpiBG{
	skin-class:ClassReference("skins.scene.SceneKpiBgSkin");
	background-color:"#fdfdfd";
}
.sceneKpiItemBg{
	skin-class:ClassReference("skins.scene.SceneKpiItemBgSkin");
}
.sceneKpiItemValueBg{
	skin-class:ClassReference("skins.scene.SceneKpiItemValueBgSkin");
}
.sceneKpiLabel1{
	color:"#000000";
}
.sceneKpiLabel2{
	color:"#004b85";
	fontWeight:normal;
}
.sceneKpiLabel3{
	color:"#0064af";
}
.sceneKpiLabel4{
	color:"#000000";
}
.sceneKpiLabel44{
	color:"#ffa801";
}
.sceneKpiLabel5{
	color:"#45d1e0";
	fontWeight:normal;
	fontSize:12;
}
.sceneKpiLabel6{
	color:"#cccccc";
	fontWeight:normal;
}
.sceneNavBar{
	skin-class:ClassReference("skins.scene.NavBarSkin");
}
.sceneNavBar{
	color:"#FFFFFF";
}

ns|MapLabel{
	color:"#000000";
}

.sceneList{
	skin-class:ClassReference("skins.scene.SceneListSkin");
}

.sceneTree{
	horizontal-scroll-bar-style-name:"sceneMXHScrollBar";
	vertical-scroll-bar-style-name:"sceneMXVScrollBar";
	selection-color:"#96d4d1";
	roll-over-color:"#96d4d1";
	text-roll-over-color:"#583300";
	text-selected-color:"#583300";
	color:"#000000";
	font-weight:bold;
}

.sceneTabButton{
	skinClass:ClassReference("skins.scene.SceneTabButtonSkin");
}
.sceneTabButtonSelected{
	skinClass:ClassReference("skins.scene.SceneTabButtonSelectedSkin");
}
ailk_chart|PrettyChart s|Scroller{
	skinClass:ClassReference("skins.scene.SceneScrollerSkin");
}
/* 定制场景样式 ################################################### */



/* 基站退服 */
.quitStatItemTitleBg{
	skin-class:ClassReference("skins.quitstat.QuitStatItemTitleBgSkin");
	color:"#233d5f";
}
.quitStatItemBg{
	skin-class:ClassReference("skins.quitstat.QuitStatItemBgSkin");
	color:"#0064af";
}
.quitStatItemNumBg{
	skin-class:ClassReference("skins.quitstat.QuitStatItemNumBgSkin");
	color:"#000000";
}
.quitStatItemLableBg{
	skin-class:ClassReference("skins.quitstat.QuitStatItemLableBgSkin");
	color:"#000000";
}
.quitStatItemNumEachBg{
	skin-class:ClassReference("skins.quitstat.QuitStatItemNumEachBgSkin");
}
.quitScroller{
	skinClass:ClassReference("skins.quitstat.QuitScrollerSkin");
}

/* 基站退服 */
mx|Menu
{
	color:"#000000";
	contentBackgroundColor:"#f0f0f0";
	fontWeight:normal;
	fontFamily:"微软雅黑",Arial,Verdana;
	
}
/*mx|Menu 
{ 
	font-size:12; 
	font-family:Verdana; 
	fontWeight: normal; 
	skin: ClassReference(null);
	cornerRadius: 5; 
	borderThickness:1; 
	rollOverColor: #4D89EB; 
	selectionColor: #4D89EB; 
	textRollOverColor: #FFFFFF; 
	textSelectedColor: #FFFFFF; 
	borderThickness: 1; 
} 

mx|MenuItem 
{ 
	cornerRadius: 5; 
	rollOverColor: #4D89EB; 
	selectionColor: #4D89EB; 
	textRollOverColor: #FFFFFF; 
	textSelectedColor: #FFFFFF; 
	borderThickness: 1; 
	fontSize:12; 
	themeColor: #c1c1c1; 
} */
chartClasses|DataTip{
	color:"#704c9c";
	fontFamily:"微软雅黑";
}