/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
/*@namespace panel "com.linkage.module.cms.components.panel.*";*/
@namespace fusioncharts "com.linkage.common.fusioncharts.*";
/*@namespace tools "com.linkage.gis.tools.*";*/
/*@namespace navbar "com.linkage.module.cms.components.navbar.*";*/
@namespace map "com.linkage.module.cms.groupclient.map.*";
@namespace map1 "com.linkage.module.cms.general.monitor.common.map.*";
@namespace components "com.linkage.module.cms.groupclient.components.*";
/*@namespace extend "com.linkage.module.cms.components.extend.*";*/
@namespace components1 "com.linkage.module.cms.proactivemonitor.components.*";
/*@namespace button "com.linkage.module.cms.components.extend.button.*";*/
@namespace component "com.linkage.module.topo.framework.view.component.*";
/*@namespace core "com.linkage.module.topo.framework.core.*";*/
@namespace common "com.linkage.module.cms.perfmonitor.common.*";
@namespace datashow "com.linkage.module.cms.machroom.datashow.*";
/*@namespace pager "com.linkage.module.cms.components.pager.*";*/
/*@namespace scaleruler "com.linkage.module.topo.framework.view.component.scaleruler.*";*/
@namespace ailk_gis "http://www.asiainfo-linkage.com.cn/flex/gis";
@namespace ailk_compts "http://www.asiainfo-linkage.com.cn/flex/components";
@namespace ailk_chart "http://www.asiainfo-linkage.com.cn/flex/chart";
@namespace linkage_compts "http://www.ailk.com/2011/ailk/components";
@namespace linkage_gis "http://www.ailk.com/2011/ailk/gis";
@namespace chartClasses "mx.charts.chartClasses.*";

/*@font-face 
{
	src: url("css/simsun.ttc");
	fontFamily: 宋体;
	fontStyle: normal;
	fontWeight: normal;
	embedAsCFF: true;
	advancedAntiAliasing: true;
}*/
global
{
	fontFamily:微软雅黑,MicrosoftYaHei,Arial, Helvetica, sans-serif;
/*	font-weight:bold;*/
/*	tracking-right:1;*/
	color:#ffffff;
	fontSize:14px;
}

s|Application{
	skin-class:ClassReference("skins.AppSkin");	
}
mx|Module{
	fontFamily:微软雅黑,MicrosoftYaHei,Arial, Helvetica, sans-serif;
/*	font-weight:bold;*/
/*	tracking-right:1;*/
	color:#ffffff;
	fontSize:14px;
}

.appMenu{
	skin-class:ClassReference("skins.AppMenuSkin");	
	background-color:"#154365";
}
.appStyle{
	skin-class:ClassReference("skins.AppStyleSkin");	
}
s|BorderContainer s|RadioButton
{
	color:"#233d5f";
}

s|BorderContainer{
	border-color:"#e0e0e0";
	border-alpha:0.6;
	background-alpha:0;
}
s|TabBar{
	color:"#ffffff";
	font-weight:bold;
	tracking-left:1;
	tracking-right:1;
}

s|TextInput{
	color:"#000000";
	content-background-alpha:"0.8";
	font-weight:bold;
	tracking-left:1;
}

s|Button{
	skin-class:ClassReference("skins.ButtonSkin");
	color:"#ffffff";
	font-weight:bold;
}
s|DropDownList{
	color:"#000000";
	font-weight:bold;
	content-background-alpha:"0.8";
	content-background-color:"#c8deec";
}
s|ComboBox{
	color:"#000000";
	font-weight:bold;
	content-background-alpha:"0.8";
	content-background-color:"#c8deec";
}
s|VScrollBar{
	skin-class:ClassReference("skins.VScrollBarSkin");
}
s|HScrollBar{
	skin-class:ClassReference("skins.HScrollBarSkin");
}
s|CheckBox{
	font-weight:bold;
}
mx|CheckBox{
	font-weight:bold;
}
mx|Text{
	font-weight:bold;
	letter-spacing:1;
}
mx|TextInput{
	color:"#000000";
	content-background-alpha:"0.8";
	font-weight:bold;
	letter-spacing:1;
}
mx|DateField{
	font-weight:bold;	
	color:"#000000";
}
mx|DateChooser{
	font-weight:bold;
}
mx|Alert{
	title-style-name:"alertTitle";
	message-style-name:"alertMsg";
	title-background-skin:ClassReference("skins.AlertTitleSkin");
	border-color:"#ffffff";
	border-alpha:0.6;
	button-style-name:"alertBtn";
	color:"#000000";
}
mx|TitleWindow{
	
}
mx|Grid{
	color:"#ffffff";
}
mx|FormItem{
	color:"#ffffff";
}
mx|ComboBox{
	color:"#000000";
	content-background-alpha:"0.8";
	content-background-color:"#c8deec";
	font-weight:bold;
	dropdown-style-name:"comboboxStyle";
	textSelectedColor: "#000000";
	textRollOverColor: "#000000";
}
.comboboxStyle{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.alertTitle{
	background-color:"#97b6ca";
	background-alpha:"0.8";
	color:"#ffffff";
	font-size:13;
	font-weight:bold;
	border-color:"#ffffff";
}
.alertMsg{
	background-color:"#154365";
	background-alpha:"0.8";
	color:"#ffffff";
}
.alertBtn{
	corner-radius:8;
}
mx|ViewStack{
	border-color:"#e0e0e0";
	border-style:solid;
	border-alpha:0.6;
	background-color:"#154365";
	color:"#ffffff";
	font-weight:bold;
}
mx|DataGrid,mx|AdvancedDataGrid{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	/*header-separator-skin:ClassReference("skins.DataGridHeaderSepSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");*/
	header-colors:"#395f84","#395f84";
	border-color:"#97b6ca";
	vertical-grid-line-color:"#97b6ca";
	horizontal-grid-line-color:"#97b6ca";
	horizontal-grid-lines:"true";
	alternating-item-colors:"#1c6b99","#4989ad";
	selection-color:"#0e2f47";
	roll-over-color:"#148ac8";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	header-style-name:"advancedDG";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	content-background-alpha:0.8;
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	text-align:center;
}
mx|AdvancedDataGridHeaderRenderer{
	color:"#ffffff";
	font-weight:"bold";
}
.advancedDG{
	font-weight:"bold";
	color:"#ffffff";
}
.advancedDGHScrollBar{
	background-skin:ClassReference("skins.DataGridScrollBarBGSkin");
	thumb-skin:ClassReference("skins.DataGridScrollBarThumbSkin");
	up-arrow-skin:ClassReference("skins.DataGridScrollBarUpSkin");
	down-arrow-skin:ClassReference("skins.DataGridScrollBarDownSkin");
	track-skin:ClassReference("skins.DataGridScrollBarTrackSkin");
}
.advancedDGVScrollBar{
	background-skin:ClassReference("skins.DataGridScrollBarBGSkin");
	thumb-skin:ClassReference("skins.DataGridScrollBarThumbSkin");
	up-arrow-skin:ClassReference("skins.DataGridScrollBarUpSkin");
	down-arrow-skin:ClassReference("skins.DataGridScrollBarDownSkin");
	track-skin:ClassReference("skins.DataGridScrollBarTrackSkin");
}
mx|Accordion{
	content-background-alpha:0;
	header-height:24;
	open-duration:250;
	border-color:"#e0e0e0";
	border-alpha:0.6;
	color:"#ffffff";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	header-style-name:"accordionHeader";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader{
	skin:ClassReference("skins.AccordionHeaderBGSkin");
	font-weight:bold;
}
mx|Canvas{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
mx|Tree{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	selection-color:"#148ac8";
	roll-over-color:"#148ac8";
	text-roll-over-color:"#233d5f";
	text-selected-color:"#233d5f";
	color:"#233d5f";
	font-weight:bold;
}
mx|DividedBox{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
mx|Tile{
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.commonBorderContainer{
	corner-radius:5;
}
.commonTabBar{
	skin-class:ClassReference("skins.GroupClientTabBarSkin");
	corner-radius:5;
}
.commonViewStack{
	padding-bottom:2;
	padding-left:2;
	padding-right:2;
	padding-top:2;
}
.commonDataGrid{
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");
}
.title_bold_12{
	font-size:12;
	font-weight:bold;
}
.title_bold_14{
	font-size:14;
	font-weight:bold;
}

.title_bold_16{
	font-size:16;
	font-weight:bold;
}

.venueImageNormal{
	border-weight:5;
}
.venueImageSelected{
	border-weight:5;
	border-color:"0xFF0000";
}
.closeBtn{
	skin-class:ClassReference("skins.CloseBtnSkin");
}

.navbar{
	skin-class:ClassReference("skins.NavBarSkin");
}
.window{
	skin-class:ClassReference("skins.WindowSkin");
	border-alpha:0.6;
	borderColor:"0xe0e0e0";
	backgroundColor:"0x003366";
	backgroundAlpha:0.8;
	color:"0xffffff";
}
.window_configBtn{
	skin-class:ClassReference("skins.ConfigButtonSkin");
}
.window_minimizeBtn{
	skin-class:ClassReference("skins.MinimizeButtonSkin");
}
.window_restoreBtn{
	skin-class:ClassReference("skins.RestoreButtonSkin");
}
.window_maximizeBtn{
	skin-class:ClassReference("skins.MaximizeButtonSkin");
}
.window_closeBtn{
	skin-class:ClassReference("skins.CloseButtonSkin");
}
.windowExt{
	skin-class:ClassReference("skins.WindowExtSkin");
	border-alpha:0.6;
	borderColor:"0xe0e0e0";
	backgroundColor:"0x003366";
	backgroundAlpha:0.8;
	color:"0xffffff";
}
linkage_compts|NormalWindowExt{
	skin-class:ClassReference("skins.NormalWindowExtSkin");
	border-alpha:0.6;
	borderColor:"0xe0e0e0";
	backgroundColor:"0x003366";
	backgroundAlpha:0.8;
	color:"0xffffff";
}
.controlPane{
	backgroundColor : #FFFFFF;
	backgroundAlpha : 0.8;
	borderColor : #000000 ;
	borderStyle:"solid";
	cornerRadius:5;
	padding-bottom:5;
	padding-left:5;
	padding-right:5;
	padding-top:5;
	color:"#ffffff";
}
fusioncharts|FusionChartsLK{
	backgroundColor:"#003366";
	backgroundAlpha:1;
	color:"#ffffff";
	font-weight:bold;
}
.fusionChartsLK{
	color:"###ffffff";
}
.FusionChartLogoBG{
	backgroundColor:"#003366";
	backgroundAlpha:1;
}
.panelStyle{
	backgroundColor:"#003366";
	color:"#ffffff";
	background-alpha:0.8;
}
.gridRowOdd{
	backgroundColor:"#1c6b99";
	border-color:"#97b6ca";
	color:"#ffffff";
}
.gridRowEven{
	backgroundColor:"#4989ad";
	border-color:"#97b6ca";
	color:"#ffffff";
}
.gridHeader{
	background-color:"#395f84";
	border-color:"#97b6ca";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
	text-align:center;
}
.gridSelected{
	background-color:"#0e2f47";
	border-color:"#97b6ca";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
}
.gridRollOver{
	background-color:"#148ac8";
	border-color:"#97b6ca";
	color:"#ffffff";
	font-weight:bold;
	letter-spacing:1;
	content-background-alpha:0.8;
}

map|MapLabel{
	font-weight:bold;
	color:"#ffffff";
}
map1|MapLabel{
	font-weight:bold;
	color:"#ffffff";
}
components|DummyMapWork{
	color:"#ffffff";
}
components|DummyMapWork_GD{
	color:"#ffffff";
}
components|DummyMapWork_SX{
	color:"#ffffff";
}
components|GisMapWork{
	color:"#ffffff";
}

mx|ToolTip{
	font-size: 16;
	color:"#000000";
	border-color:"#4698ca";
	corner-radius:6;
}
linkage_compts|ExtendButton{
	skin-class:ClassReference("skins.ExtendButtonSkin");
}
.promptBC{
	background-color:"#003366";
	background-alpha:0.8;
	corner-radius:5;
	color:"#ffffff";
}
.bgstyle1{
	background-color:"#003366";
	background-alpha:0.8;
}
.roomName{
	color:"#ffffff";
}

.specItem{
	border-color:"#97b6ca";
	border-style:solid;
	background-color:"#395f84";
	horizontal-align:center;
	vertical-align:middle;
}
.specText{
	font-weight:bold;
	font-size:12;
}
.modelItem{
	border-color:"#97b6ca";
	border-style:solid;
	background-color:"#395F84";
	horizontal-align:center;
	vertical-align:middle;
}
.modelText{
	font-weight:bold;
	font-size:12;
}
.dataItem{
	horizontal-align:center;
	vertical-align:middle;
	border-style:solid;
	border-color:"#97b6ca";
}
linkage_compts|NavBar{
	color:"#ffffff";
	font-weight:bold;
}
common|CheckBoxItemRenderer{
	color:"#000000";
	font-weight:bold;
	textSelectedColor: #000000;
	textRollOverColor: #000000;
}
component|TopoCanvas{
	color:"#ffffff";
	letter-spacing:1;
}
.treeLabel{
	color:"#ffffff";
	font-weight:bold;
}
linkage_compts|Pager{
	color:"#ffffff";
}

linkage_gis|ToolBar{
	skin-class:ClassReference("com.linkage.gis.tools.skins.white.skin.ToolBarSkin");
	backgroundColor:"#154365";
	color:"#ffffff";
	background-alpha:0.8;
	border-color:"#e0e0e0";
	border-alpha:0.6;
}
.filialeButton{
	skin-class:ClassReference("skins.FilialeButtonSkin");
}


.window1{
	skin-class:ClassReference("skins.WindowSkinNew");
}


.window2{
	skin-class:ClassReference("skins.WindowSkinNew1");
}

.window3{
	skin-class:ClassReference("skins.WindowSkinNew2");
}
.window4{
	skin-class:ClassReference("skins.WindowSkinNew3");
}


.window_closeBtnNew{
	skin-class:ClassReference("skins.CloseButtonNewSkin");
}

.window_configBtnNew{
	skin-class:ClassReference("skins.ConfigButtonNewSkin");
}

.window_minimizeBtnNew{
	skin-class:ClassReference("skins.MinimizeButtonNewSkin");
}

.window_restoreBtnNew{
	skin-class:ClassReference("skins.RestoreButtonNewSkin");
}

.window_maximizeBtnNew{
	skin-class:ClassReference("skins.MaximizeButtonNewSkin");
}


.accordion1{
	content-background-alpha:0;
	header-height:24;
	open-duration:250;
	border-color:"#e0e0e0";
	border-alpha:0.6;
	borderVisible:false;
	color:"#ffffff";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	header-style-name:"accordionHeader1";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader1{
	skin:ClassReference("skins.AccordionHeaderBGSkinNew");
	font-weight:bold;
}

.accordion2{
	content-background-alpha:0;
	header-height:32;
	open-duration:250;
	borderVisible:false;
	border-color:"#e0e0e0";
	border-alpha:0.6;
	color:"#666666";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	header-style-name:"accordionHeader2";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
}
.accordionHeader2{
	skin:ClassReference("skins.AccordionHeaderBGSkinNew1");
	font-weight:bold;
}

.content_title{
	skin-class:ClassReference("skins.ContentTitleBtnSkin");
}
ailk_gis|MapWork{
	toolBarBackgroundColor:#154365;
	toolBarBackgroundAlpha:0.8;
	toolBarBorderColor:#e0e0e0;
	toolBarBorderAlpha:0.6;
	toolBarSkin:ClassReference("com.ailk.common.ui.gis.tools.skins.white.skin.ToolBarSkin");
}
ailk_gis|ToolBar{
	skin-class:ClassReference("com.ailk.common.ui.gis.tools.skins.white.skin.ToolBarSkin");
	backgroundColor:"#154365";
	color:"#ffffff";
	background-alpha:0.8;
	border-color:"#e0e0e0";
	border-alpha:0.6;
}

.advancedDG1{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkinNew");
	/*header-colors:"#395f84","#395f84";*/
	headerHeight:24;
	border-color:"#7297a9";
	borderAlpha:0;
	horizontalAlign:center;
	horizontalGridLineAlpha:1;
	horizontal-grid-line-color:"#7297a9";
	horizontal-grid-lines:true;
	verticalGridLineColor:"#7297a9";
	verticalGridLineAlpha:0.01;
	vertical-grid-lines:false;
	/*alternating-item-colors:"#1c6b99","#4989ad";*/
	alternating-item-colors:ClassReference(null);
	color:"#ffffff";
	fontSize:11;
	font-weight:bold;
	letter-spacing:1;
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	content-background-alpha:0;
	contentBackgroundColor:"#345986";
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	text-align:center;
	useRollOver:false;
}

.advancedDG2{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	/*header-separator-skin:ClassReference("skins.DataGridHeaderSepSkin");
	header-background-skin:ClassReference("skins.DataGridHeaderBGSkin");*/
	header-colors:"#395f84","#395f84";
	border-color:"#97b6ca";
	vertical-grid-line-color:"#97b6ca";
	horizontal-grid-line-color:"#97b6ca";
	horizontal-grid-lines:"true";
	alternating-item-colors:"#1c6b99","#4989ad";
	selection-color:"#0e2f47";
	roll-over-color:"#148ac8";
	color:"#ffffff";
	fontSize:10;
	font-weight:normal;
	header-style-name:"advancedDGHeader2";
	text-roll-over-color:"#ffffff";
	text-selected-color:"#ffffff";
	content-background-alpha:0.8;
	horizontal-scroll-bar-style-name:"advancedDGHScrollBar";
	vertical-scroll-bar-style-name:"advancedDGVScrollBar";
	textAlign:left;
}

.advancedDGHeader2{
	color:"#ffffff";
}
.borderContainer1{
	borderColor:"#7297a9";
	backgroundColor:"#345986";
	backgroundAlpha:"0.6";
}

.skinnableContainer1{
	skin-class:ClassReference("skins.SkinnableContainerSkin");
}

ailk_compts|NavBar{
	skin-class:ClassReference("skins.NavBarSkinNew");
}
.navBar1{
	skin-class:ClassReference("skins.NavBarSkinNew1");
}

/*s|CheckBox{
	font-weight:bold;
	color:"#ff0000";
}*/

/*s|CheckBox s|Label{
	color:"#00ff00";
}*/
/* 日常管理面板样式  -------------------------------------------------- */
.windowDaily{
	skin-class:ClassReference("skins.WindowSkinDaily");
}

.windowDaily2{
	skin-class:ClassReference("skins.WindowSkinDaily2");
}

.windowDaily3{
	skin-class:ClassReference("skins.WindowSkinDaily3");
}

.borderContainerDaily1
{
	skinClass:ClassReference("skins.BorderContainerDaily1")
}

.borderContainerDaily2
{
	skinClass:ClassReference("skins.BorderContainerDaily2")
}

.borderContainerDaily2on
{
	skinClass:ClassReference("skins.BorderContainerDaily2on")
}

.borderContainerDaily3
{
	skinClass:ClassReference("skins.BorderContainerDaily3")
}

.borderContainerCfg
{
	backgroundColor:"#0080C0";
	backgroundAlpha:"0.6";
	borderColor:"#949494";
}

.dropDownList
{
	skinClass:ClassReference("skins.DropDownListSkin")
}

.button
{
	skinClass:ClassReference("skins.ButtonSkinDaily")
}

.label
{
	color:"#ffffff";
}
s|BorderContainer s|RadioButton
{
	color:"#ffffff";
}


/* 日常管理面板样式 ################################################### */



.windowPerf{
	skin-class:ClassReference("skins.scene.WindowSkinScene");
}
.windowPerf mx|Tree{
	selection-color:"#148ac8";
	roll-over-color:"#148ac8";
	text-roll-over-color:"#583300";
	text-selected-color:"#583300";
	color:"#ffffff";
}
/* 定制场景样式 ###################################################*/
.windowScene{
	skin-class:ClassReference("skins.scene.WindowSkinScene");
}

.windowSceneGis{
	skin-class:ClassReference("skins.scene.WindowSkinSceneGis");
}

.windowSceneGisBottom{
	skin-class:ClassReference("skins.scene.WindowSkinSceneGisBottom");
}
.sceneBorderContainer{
	skin-class:ClassReference("skins.scene.SceneBorderContainerSkin");
}
.sceneIntroduceBody{
	skin-class:ClassReference("skins.scene.SceneIntroduceBodySkin");
}
.sceneNewsMainBg{
	backgroundColor:"#8fcef7";
}
.sceneNewsBg{
	skin-class:ClassReference("skins.scene.SceneNewsBgSkin");
}
.sceneNewsLable1{
	color:"#004b85";
	fontSize:15;
}
.sceneNewsLable2{
	color:"#004b85";
	fontWeight:normal;
}
.sceneNewsLable3{
	color:"#004b85";
}
.sceneNewsLable4{
}
.sceneNewsLable5{
	color:"#c7f3fe";
	fontWeight:normal;
}
.sceneViewStack{
	border-color:"#e0e0e0";
	border-style:solid;
	border-alpha:0;
	background-color:"#154365";
	backgroundAlpha:0;
	color:"#ffffff";
	font-weight:bold;
}
.sceneTabBar{
	skin-class:ClassReference("skins.scene.SceneTabBarSkin");
}
.sceneTabBar1{
	skin-class:ClassReference("skins.scene.SceneTabBarNewSkin");
}


.sceneDG{
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-background-skin:ClassReference("skins.scene.DataGridHeaderBGSkin");
	/*header-colors:"#395f84","#395f84";*/
	headerHeight:25;
	border-color:"#87cfff";
	borderAlpha:1;
	horizontalAlign:center;
	horizontalGridLineAlpha:1;
	horizontal-grid-line-color:"#7297a9";
	horizontal-grid-lines:false;
	verticalGridLineColor:"#7297a9";
	verticalGridLineAlpha:0.01;
	vertical-grid-lines:false;
	alternating-item-colors:"#2aa1f1","#60b9f5";
	color:"#003366";
	fontSize:12;
	fontWeight:normal;
	letter-spacing:1;
	selection-color:"#edcc89";
	roll-over-color:"#edcc89";
	text-roll-over-color:"#583300";
	text-selected-color:"#583300";
	horizontal-scroll-bar-style-name:"sceneMXHScrollBar";
	vertical-scroll-bar-style-name:"sceneMXVScrollBar";
	text-align:center;
}
.sceneMXHScrollBar{
	background-skin:ClassReference("skins.scene.MXScrollBarBGSkin");
	thumb-skin:ClassReference("skins.scene.MXScrollBarThumbSkin");
	up-arrow-skin:ClassReference(null);
	down-arrow-skin:ClassReference(null);
	track-skin:ClassReference("skins.scene.MXScrollBarTrackSkin");
}
.sceneMXVScrollBar{
	background-skin:ClassReference("skins.scene.MXScrollBarBGSkin");
	thumb-skin:ClassReference("skins.scene.MXScrollBarThumbSkin");
	up-arrow-skin:ClassReference(null);
	down-arrow-skin:ClassReference(null);
	track-skin:ClassReference("skins.scene.MXScrollBarTrackSkin");
}

.sceneScroller{
	skinClass:ClassReference("skins.scene.SceneScrollerSkin");
}

.sceneVScrollBar{
	skin-class:ClassReference("skins.scene.VScrollBarSkin");
}
.sceneHScrollBar{
	skin-class:ClassReference("skins.scene.HScrollBarSkin");
}
/*.sceneKpiBG{
	skin-class:ClassReference("skins.scene.SceneKpiBgSkin");
}*/
.sceneKpiItemBg{
	skin-class:ClassReference("skins.scene.SceneKpiBgSkin");
}
/*.sceneKpiItemBg{
	skin-class:ClassReference("skins.scene.SceneKpiItemBgSkin");
}*/
.sceneKpiItemValueBg{
	skin-class:ClassReference("skins.scene.SceneKpiItemValueBgSkin");
}
.sceneKpiLabel1{
	color:"#0064af";
}
.sceneKpiLabel2{
	color:"#004b85";
	fontWeight:normal;
}
.sceneKpiLabel3{
	color:"#0064af";
}
.sceneKpiLabel4{
	color:"#0064af";
}
.sceneKpiLabel5{
	color:"#45d1e0";
	fontWeight:normal;
	fontSize:12;
}
.sceneKpiLabel6{
	color:"#c8e9fc";
	fontWeight:normal;
}
.sceneNavBar{
	skin-class:ClassReference("skins.scene.NavBarSkin");
}

linkage_compts|MapLabel{
	color:"#ffffff";
}

.sceneList{
	skin-class:ClassReference("skins.scene.SceneListSkin");
}

.sceneTree{
	horizontal-scroll-bar-style-name:"sceneMXHScrollBar";
	vertical-scroll-bar-style-name:"sceneMXVScrollBar";
	selection-color:"#edcc89";
	roll-over-color:"#edcc89";
	text-roll-over-color:"#583300";
	text-selected-color:"#583300";
	color:"#ffffff";
	font-weight:bold;
}

.sceneTabButton{
	skinClass:ClassReference("skins.scene.SceneTabButtonSkin");
}
.sceneTabButtonSelected{
	skinClass:ClassReference("skins.scene.SceneTabButtonSelectedSkin");
}
ailk_chart|PrettyChart s|Scroller{
	skinClass:ClassReference("skins.scene.SceneScrollerSkin");
}
/* 定制场景样式 ################################################### */



/* 基站退服 */
.quitStatItemTitleBg{
	skin-class:ClassReference("skins.quitstat.QuitStatItemTitleBgSkin");
	color:"#233d5f";
}
.quitStatItemBg{
	skin-class:ClassReference("skins.quitstat.QuitStatItemBgSkin");
	color:"#0064af";
}
.quitStatItemNumBg{
	skin-class:ClassReference("skins.quitstat.QuitStatItemNumBgSkin");
	color:"#000000";
}
.quitStatItemLableBg{
	skin-class:ClassReference("skins.quitstat.QuitStatItemLableBgSkin");
	color:"#ffffff";
}
.quitStatItemNumEachBg{
	skin-class:ClassReference("skins.quitstat.QuitStatItemNumEachBgSkin");
}
.quitScroller{
	skinClass:ClassReference("skins.quitstat.QuitScrollerSkin");
}

/* 基站退服 */
mx|Menu
{
	color:"#233d5f";
}

chartClasses|DataTip{
	color:"#704c9c";
	fontSize:20;
}